---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <div class="min-h-screen flex items-center justify-center">
    <p class="text-2xl text-gray-400">Homepagina komt eraan...</p>
  </div>
</Layout>
